@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

/* page behaviours  */

html {
  scroll-behavior: smooth;
}

/* page styling */

main {
  padding: 2em;
}

section {
  padding-bottom: 50px;
}

/* typography styling  */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
  font-weight: 600;
}

.sub-title {
  color: rgb(100, 100, 100);
}

/* game section styling  */

#games {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

#game-gallery-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.gallery-item {
  padding: 20px;
  flex-shrink: 0;
}

.gallery-item:hover {
  cursor: pointer;
}

.gallery-image {
  width: 350px;
}

/* navbar styling */

.nav-bar {
  position: fixed;
  width: 100vw;
  height: 80px;
  background-color: orangered;
}

li {
  float: left;
}

.nav-links {
  display: block;
  padding: 35px;
  color: white;
}

.nav-links:hover {
  text-decoration: underline;
}

#logo-style {
  display: block;
  padding: 20px;
  padding-right: 20px;
  width: 200px;
}

/* form styling */

#game-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  bottom: 0;
  max-width: 45vw;
  /* outline: 2px solid #646cff; */
}

#game-info div {
  display: flex;
  flex-direction: row;
  gap: 1em;
  /* outline: 2px solid #646cff; */
}

#game-info div p {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  /* outline: 2px solid #646cff; */
  text-align: left;
}

#review-info-container {
  height: 300px;
  width: 500px;
  border: 1px solid black;
  overflow: scroll;
}

#inputReviews {
  padding: 12px;
}

#rating {
  margin-right: 10px;
  flex-basis: 20ch;
}

#comment-box {
  flex-grow: 1;
  flex-basis: 150ch;
}

.rating {
  border: none;
}

/* form submission styling  */

#game-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  bottom: 0;
  max-width: 45vw;
  /* outline: 2px solid #646cff; */
}

#submit-button {
  background-color: orangered;
  color: white;
  height: 3em;
  border: none;
  border-radius: 1.5em;
  font-weight: 600;
}

#submit-button:hover {
  background-color: rgb(255, 124, 77);
  color: white;
  height: 3em;
  border: solid;
  border-color: orangered;
  border-radius: 1.5em;
  cursor: pointer;
}

/* media queries  */

@media (width <= 768px) {
  #game-form {
    max-width: 100vw;
  }
  #game-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    bottom: 0;
    max-width: 100vw;
  }
}
