@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

/* page behaviours  */

html {
  scroll-behavior: smooth;
}

/* page styling */

main {
  padding: 2em;
}

section {
  padding-bottom: 50px;
}

#filler-div {
  display: none;
}

/* typography styling  */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
  font-weight: 600;
}

.sub-title {
  color: rgb(100, 100, 100);
}

/* game section styling  */

#games {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

#game-gallery-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.gallery-item {
  padding: 20px;
  flex-shrink: 0;
}

.gallery-item:hover {
  cursor: pointer;
}

.gallery-image {
  width: 350px;
}

/* navbar styling */

.nav-bar {
  position: fixed;
  width: 100vw;
  height: 80px;
  background-color: orangered;
}

li {
  float: left;
}

.nav-links {
  display: block;
  padding: 35px;
  color: white;
}

.nav-links:hover {
  text-decoration: underline;
}

#logo-style {
  display: block;
  padding: 20px;
  padding-right: 20px;
  width: 200px;
}

/* mobile nav bar  */

#mobile-nav-bar {
  padding: 0;
  background-color: orangered;
  color: white;
  display: none;
  height: 80px;
}

.checkbtn {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 4.5rem;
  left: 0;
  background: rgb(161, 43, 0);
  z-index: 1;
  width: 100vw;
}

.nav-mobile a {
  color: white;
  padding: 1rem 1.5rem;
  display: block;
}

#check:checked ~ .nav-mobile {
  display: block;
}

@media (width <= 768px) {
  .checkbtn {
    display: block;
    font-size: 2.5rem;
    position: absolute;
    top: 20px;
    right: 30px;
    height: 20px;
  }
  .nav-mobile {
    top: 80px;
    width: 100%;
  }
  .nav-mobile a {
    font-size: 1.5rem;
    padding: 2rem 3rem;
  }
  .nav-mobile a:hover {
    background-color: orangered;
    border-top: solid 2px;
    border-bottom: solid 2px;
  }
  .nav-bar {
    display: none;
  }
  #mobile-nav-bar {
    display: block;
    position: fixed;
    width: 100vw;
  }
  #check {
    display: none;
  }
}

/* form styling */

#game-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  bottom: 0;
  max-width: 45vw;
  /* outline: 2px solid #646cff; */
}

#game-info div {
  display: flex;
  flex-direction: row;
  gap: 1em;
  /* outline: 2px solid #646cff; */
}

#game-info div p {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  /* outline: 2px solid #646cff; */
  text-align: left;
}

#leave-review {
  display: flex;
  position: relative;
}

#review-info-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  height: 400px;
  width: 40%;
  overflow: scroll;
  top: 40px;
  padding-bottom: 10px;
}

#inputReviews {
  padding: 12px;
}

#rating {
  margin-right: 10px;
  flex-basis: 20ch;
}

#comment-box {
  flex-grow: 1;
  flex-basis: 150ch;
}

.rating {
  border: none;
}

/* form submission styling  */

#formBox {
  display: flex;
  position: relative;
  padding: 10px;
}

#game-form {
  display: flex;
  position: absolute;
  flex-direction: column;
  right: 1vw;
  width: 40%;
  height: 400px;
  padding: 2px;
  font-size: 10px;
  gap: 1em;
  top: -75px;
}

#game-form label {
  font-size: 20px;
}

#game-form h1 {
  text-align: center;
}

#submit-button {
  background-color: orangered;
  color: white;
  height: 3em;
  border: none;
  border-radius: 1.5em;
  font-weight: 600;
}

#submit-button:hover {
  background-color: rgb(255, 124, 77);
  color: white;
  height: 3em;
  border: solid;
  border-color: orangered;
  border-radius: 1.5em;
  cursor: pointer;
}

/* media queries  */

@media (width <= 768px) {
  #game-form {
    max-width: 100vw;
  }
  #filler-div {
    display: block;
  }
  #game-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    bottom: 0;
    max-width: 100vw;
  }
}

/* footer styling  */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(63, 17, 0);
  bottom: 0;
  padding-bottom: 0;
  color: white;
}
